[Unit]
Description=GO GO NUGGET POWER

[Service]
Type=simple
ExecStart=/usr/bin/node /opt/rov2017
Restart=always

[Install]
WantedBy=multi-user.target
