//- SHIT THAT NEEDS TO GO HERE:
    Sensor readout
        - external temp
        - internal temp
        - pressure
        - video
    Attitude indicator

html
    head
        title= title
        link(rel='shortcut icon', href='/static/images/nugget.ico', type='image/x-icon')
        script(src='/static/lib/socket.io.js')
        script(src='/static/dashSocket.js')
    body
        p= message